:root {
    --selected: #527a7a;
    --deselected: #314848;
}

.artistHeader {
    color: white;
    height: 15vw;
    padding: 4vw 4vw 2vw 4vw;
    
}


.artistHeader .header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90%;
    background-color: #232525;

}

.artistHeader .artistIconsOuter {
    height: 100%;
    width: 100%;

    position: static;
    background-color: #232525;
    border-radius: 10px;
}

.selectorBox {
    position: relative;
    align-self: end;
    display: flex;

}

.artistHeader .artistSubHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    border-radius: 10px;

    background-color: #334343;

    
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);

}

.artistHeader .top1 {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    
    height: 80%;
    width: auto;
    z-index: 2;
    top: -5%;
}
.artistHeader .top2 {
    position: absolute;
    left: 0;
    right: 15%;
    margin-left: auto;
    margin-right: auto;

    height: 65%;
    width: auto;
    z-index: 1;
    top: 10%;
}

.artistHeader .top3 {
    position: absolute;
    left: 15%;
    right: 0%;
    margin-left: auto;
    margin-right: auto;

    height: 65%;
    width: auto;
    z-index: 1;
    top: 10%;
}

.artistHeader .top4 {
    position: absolute;
    left: 0;
    right: 28%;
    margin-left: auto;
    margin-right: auto;

    height: 55%;
    width: auto;
    top: 30%;
}

.artistHeader .top5 {
    position: absolute;
    left: 28%;
    right: 0%;
    margin-left: auto;
    margin-right: auto;

    height: 55%;
    width: auto;
    top: 30%;
}

.artistHeader .top {
    
    margin-top: auto;
    margin-bottom: auto;
    bottom: 0;
    border-radius: 50%;
    border: 4px solid #494e4e;
    opacity: 1;
}


.artistIcon {
    width: 100%;
}

input {
    display: none;
}

label {
    -ms-user-select: none;
   user-select: none;
   padding: 0.3vw 0.8vw;
   font-size: 1.7vw;

   
   transition: background-position 0.1s;
   transition-timing-function: linear;
}

#radio1 + label {
    border-radius: 10px 0 0 0px;
    background-size: 200% 200%;
    background-image: linear-gradient(to right, var(--deselected) 50%, var(--selected) 0%);
}
#radio1 + label:not(.transition){
    background-position: right;
}
#radio1 + label.transition{
    background-position: left;
}

#radio2 + label {
    background-size: 300% 300%;
    background-image: linear-gradient(to right, var(--deselected) 33.33%, var(--selected) 33.33% 66.66%, var(--deselected) 66.66%);
}
#radio2 + label:not(.transitionRight):not(.transitionLeft){
    background-position: center;
}
#radio2 + label.transitionRight{
    background-position: left;
}
#radio2 + label.transitionLeft{
    background-position: right;
}

#radio3 + label {
    border-radius: 0 10px 0px 0;
    background-size: 200% 200%;
    background-image: linear-gradient(to right, var(--selected) 50%, var(--deselected) 0%);
}
#radio3 + label:not(.transition){
    background-position: right;
}
#radio3 + label.transition{
    background-position: left;
}
